<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Converter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .rowData,
        #code {
            width: 100%;
            height: 370px;
            max-height: 370px;
            font-family: monospace;
            font-size: 14px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: auto;
            resize: none;
        }

        #code {
            font-weight: bold;
        }

        .copy-btn {
            margin-top: 10px;
        }

        #flashMessage {
            position: fixed;
            top: 10%;
            left: 85%;
            transform: translateX(-50%);
            z-index: 9999;
            width: 45%;
            max-width: 300px;
            margin: 0 auto;
        }

        #convertButton {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container mt-2">
        <h1 class="text-center">JSON Formatter</h1>

        <!-- Flash Message -->
        <% if (message) { %>
            <div id="flashMessage" class="alert alert-success mt-3" role="alert">
                <%= message %>
            </div>
            <% } %>

                <!-- File Upload Form -->
                <form action="/convert" method="POST" enctype="multipart/form-data">
                    <div class="row align-items-center">
                        <!-- Title -->
                        <div class="col-auto">
                            <label for="fileInput" class="form-label mb-0">Upload your file:</label>
                        </div>

                        <!-- File Input -->
                        <div class="col">
                            <input type="file" name="file" accept=".csv, .json" id="fileInput" class="form-control"
                                required>
                        </div>

                        <!-- Convert Buttons -->
                        <div class="col-auto">
                            <button type="submit" name="operation" value="CsvToJson" class="btn btn-primary">CSV to
                                JSON</button>
                            <button type="submit" name="operation" value="JsonToCsv" class="btn btn-primary">JSON to
                                CSV</button>
                        </div>
                    </div>
                </form>

                <!-- Download Section -->
                <% if (downloadLink) { %>
                    <div class="d-flex gap-2">
                        <div class="mt-4">
                            <a href="<%= downloadLink %>" class="btn btn-success" id="downloadLink">Download Converted
                                File</a>
                        </div>
                        <div class="mt-4">
                            <a class="btn btn-secondary" onclick="copyToClipboard()">Copy JSON</a>
                        </div>
                    </div>
                    <!-- Code Section -->
                    <% if (code) { %>
                        <div class="mt-4 d-flex">
                            <div class="d-flex flex-column rowData">
                                <textarea class="rowData" id="data"><%= rowData ?rowData :"NO Row Data" %></textarea>
                                <button type="submit" class="btn btn-primary" id="convertButton"
                                    onclick="convertRowData('<%= operation %>')">Convert Row Data</button>

                            </div>
                            <textarea id="code" readonly><%= JSON.stringify(code, null, 2) %></textarea>
                        </div>
                        <% } %>
                            <% } %>
    </div>

    <script>
        function copyToClipboard() {
            const code = document.getElementById('code');
            navigator.clipboard.writeText(code.value)
                .then(() => {
                    showFlashMessage('Code copied to clipboard!', 'info');
                })
                .catch(err => {
                    console.error('Failed to copy text: ', err);
                    showFlashMessage('Failed to copy text. Please try again.', 'danger');
                });
        }
        function showFlashMessage(message, type) {
            const flashMessage = document.getElementById('flashMessage');

            if (flashMessage) {
                flashMessage.innerText = message;
                flashMessage.className = `alert alert-${type} mt-3`;
                flashMessage.style.display = 'block';

                setTimeout(() => {
                    flashMessage.style.display = 'none';
                }, 2000);
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            const flashMessage = document.getElementById('flashMessage');
            if (flashMessage) {
                setTimeout(() => {
                    flashMessage.style.display = 'none';
                }, 2000);
            }
        });
        const textarea = document.getElementById('data');
        const convertButton = document.getElementById('convertButton');

        textarea.addEventListener('input', function () {
            convertButton.style.display = 'block';
        });

        function convertRowData(operation) {

            const rowData = document.getElementById('data').value;

            fetch('/convert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ rowData: rowData, operation: operation })
            })
                .then(response => response.json())
                .then(data => {

                    document.getElementById('data').value = data.rowData;
                    document.getElementById('code').textContent = JSON.stringify(data.code, null, 2);
                    document.getElementById('flashMessage').innerText = data.message;

                    const downloadLinkElement = document.getElementById('downloadLink');
                    downloadLinkElement.href = data.downloadLink;
                    convertButton.style.display = 'none';

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }



    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>